body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #212c31;
}

nav {
  background-color: #a1cee2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 20px;
}

nav.dark {
  background-color: #212c31;
}

.burger {
  display: none;
}

.nav--logo {
  height: 40px;
  object-fit: cover;
  padding: 5px 0 0 20px;
  /* border-top-left-radius: 50%; */
  /* border-radius: 35% 10%; */
}

.nav--first--letter {
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0 10px;
  padding-top: 10px;
  margin: 0;
}

ul > li {
  padding: 0 5px;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

main {
  background-color: #a1cee2;
  /* height: 100vh; */
}

main.dark {
  background-color: #212c31;
}

.hero--switch--mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
}

.hero--switch-bar {
  background-color: #212c31;
  height: 22px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: flex-start;
  cursor: pointer;
}

.dark .hero--switch-bar {
  justify-content: flex-end;
  background-color: #a0f9ff;
}

.hero--switch--btn {
  background-color: #ffb100;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0px 2px;
}

.dark .hero--switch--btn {
  background-color: #212c31;
}

.fa-solid {
  color: #37474f;
  padding: 0 8px;
}

.dark .fa-solid {
  color: #a0f9ff;
}

.dark li {
  color: #a0f9ff;
}

.fa-bars,
.fa-xmark {
  font-size: 1.4rem;
  cursor: pointer;
  padding-right: 15px;
  margin-top: 10px;
}

.burger--cross {
  display: flex;
}

.fa-xmark {
  display: none;
}

.cross .fa-xmark {
  display: block;
}

.nohamburger {
  display: none;
}

.hero--personal {
  display: flex;
  padding: 50px 20px 30px 20px;
  justify-content: space-between;
}

/* .hero--personal--info {
  padding-left: 20px;
} */

.hero--personal--name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 2px;
}

.hero--personal--description,
.about--me--description {
  font-size: 1.3rem;
  max-width: 400px;
  margin: 40px 0;
}

.hero--personal--btn {
  background-color: #212c31;
  color: #ffb100;
  font-weight: 700;
  border: none;
  padding: 15px 38px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 27px;
  letter-spacing: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero--personal--contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fa-facebook-square,
.fa-linkedin,
.fa-github-square {
  font-size: 3.5rem;
  color: #212c31;
}

.about--me--section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about--me--title,
.about--me--skills--title,
.project--title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.about--me--skills--title {
  margin-bottom: 25px;
}

.about--me--description {
  letter-spacing: 1px;
}

.about--me--photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about--me--skill--icons {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.fa-html5,
.fa-css3,
.fa-js-square,
.fa-react,
.fa-git,
.fa-github {
  font-size: 2.5rem;
}

.project--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.project--section--cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project--card {
  width: 300px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px 0;
  border-radius: 10px;
}

.project--card img {
  padding-top: 10px;
  width: 90%;
  object-fit: cover;
  height: 250px;
  border-radius: 50%;
}

.project--name {
  font-size: 1.4rem;
}

.project--link--btn {
  background-color: #212c31;
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  color: #ffb100;
  font-size: 1.2rem;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}

.contact--form input,
textarea {
  margin: 5px 0;
  width: 70%;
}

.contact--form--btn {
  width: 50%;
}

@media (min-width: 500px) {
  ul {
    display: flex;
    list-style-type: none;
    padding-right: 15px;
    margin: 0;
  }

  ul li {
    padding: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    color: #212c31;
  }

  .dark ul li {
    color: #a0f9ff;
  }

  .burger--cross {
    display: none;
  }

  .burger {
    display: flex;
  }
}

/* 
color pallete:
212c31
a1cee2
ffb100
ff221f */
