body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #212c31;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background: url(.//images/MMDesignBackground3.png);  */
}

nav {
 background-color: #c9dcef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 0;
  width: 100vw;
  position: fixed;
  z-index: 1;
  /* overflow: visible; */
}

nav.dark {
  /* background-color: #212c31; */
  background-color: #212c31;
  /* justify-content: space-between; */
}

.burger {
  display: none;
}

a.nav--logo,
a.nav--logo--dark {
  padding: 5px 0 0 20px;
}

.nav--logo img,
.nav--logo--dark img{
  height: 40px;
}

.nav--logo--dark{
  display: none;
}

.dark .nav--logo{
  display: none;
}

.dark .nav--logo--dark{
  display: block;
}


.no--nav--logo,
.no--nav--logo--dark{
  display: none;
}

ul.light,
ul.dark {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 10px 0 100px;
  margin: 0;
}

.nav--menu {
  padding: 5px 20px;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.nav--menu:hover{
  background-color: #212c31;
  color: #ffb100;
  cursor: pointer;
}

.dark .nav--menu{
  list-style-type: none;
  /* color: #e3edf7; */
  color: #a0f9ff;
}

.dark .nav--menu:hover{
  background-color: #ffb100;
  color: #212c31;
}

main {
  background-color: #e3edf7;
  width: 100vw;
  padding-top: 100px;
}

main.dark {
  background-color: #36474f;
}

.hero--switch--mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
}

.hero--switch--bar {
  background-color: #212c31;
  height: 22px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: flex-start;
  cursor: pointer;
}

.dark .hero--switch--bar {
  justify-content: flex-end;
  /* background-color: #e3edf7; */
  background-color: #a0f9ff;
}

.hero--switch--btn {
  background-color: #ffb100;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0px 2px;
}

.dark .hero--switch--btn {
  background-color: #212c31;
}

.fa-sun, .fa-moon {
  color: #37474f;
  padding: 0 8px;
}

.dark .fa-sun, .dark .fa-moon {
  /* color: #e3edf7 */
  color: #a0f9ff;
}

.dark .fa-bars {
  /* color: #e3edf7; */
  color: #a0f9ff;
}

.dark li {
  color: #a0f9ff;
}

.fa-bars,
.fa-xmark {
  font-size: 1.4rem;
  cursor: pointer;
  padding-right: 15px;
  margin-top: 10px;
  margin-right: 10px;
}

.burger--cross {
  display: flex;
}

.fa-xmark {
  display: none;
}

.cross .fa-xmark {
  display: block;
  margin-right: 10px;
  color: #212c31;
}

.dark .fa-xmark {
  color: #a0f9ff;
}

.nohamburger {
  display: none;
}

.hero--personal {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
}

.hero--personal--info {
  padding-left: 20px;
}

.hero--personal--name {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
}

.hero--personal--name--style{
  background-color: #212c31;
  color: #ffb100;
  padding: 4px 15px;
  border-radius: 15px 5px;
}

.dark .hero--personal--name--style{
  background-color: #ffb100;
  color: #212c31;
}

.dark .hero--personal--name,
.dark .hero--personal--description{
  /* color: #c9dcef; */
  color: #a0f9ff;
}

.hero--personal--description,
.about--me--description {
  font-size: 1.2rem;
  max-width: 400px;
  margin: 20px 0;
}

.hero--personal--btn {
  background-color: #212c31;
  color: #ffb100;
  border: none;
  padding: 12px 40px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Oswald', sans-serif;
  transition: all 1s linear;
}

.hero--personal--btn:hover{
  background-color: #ffb100;
  color: #212c31;
  transform: scale(1.03);
}

.dark .hero--personal--btn{
  /* background-color: #c9dcef; */
  background-color: #a0f9ff;
  color: #212c31;
}

.dark .hero--personal--btn:hover{
  background-color: #ffb100;
  color: #212c31;
  transform: scale(1.03);
}

.hero--personal--contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fa-facebook-square,
.fa-linkedin,
.fa-github-square {
  font-size: 2.5rem;
  color: #212c31;
  transition: all 0.7s ease-in-out;
}

.dark .fa-facebook-square,
.dark .fa-linkedin,
.dark .fa-github-square{
  /* color: #c9dcef; */
  color: #a0f9ff;
}

.fa-facebook-square:hover{
  transform: rotate3d(1, 2.0, 3.0, 330deg) scale(1.6);
 
  color: #1877f2;
}

.fa-linkedin:hover{
  transform: rotate3d(1, 2.0, 3.0, 330deg) scale(1.6);
  color: #0077b5;
}

.fa-github-square:hover{
  transform: rotate3d(1, 2.0, 3.0, 330deg) scale(1.6);
  color: #6e5494;
}

.about--me--section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: url(./images/MMDesignBackground3.png);
  width: 100vw;
}

.dark .about--me--section{
  /* background-color: #36474f; */
  background: url(./images/MMDesignBackgroundDark.png);
}

.about--me--title,
.about--me--skills--title,
.project--title,
.contact--title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 2px;
  font-family: 'Lobster Two', cursive;
}

.dark .about--me--title,
.dark .about--me--skills--title,
.dark .project--title,
.dark .contact--title{
  /* color: #c9dcef; */
  color: #a0f9ff;
}

.about--me--skills--title {
  margin-bottom: 25px;
}

.about--me--description {
  letter-spacing: 1px;
}

.dark .about--me--description {
  /* color: #c9dcef; */
  color: #a0f9ff;
}

.about--me--photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  filter: blur(4px);
  transition: all 0.7s linear;

}

.about--me--photo:hover{
  filter: none;
  transform: scale(1.1);
}

.about--me--skill--icons {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: flex-start;
  padding-left: 50px;
}

.fa-html5,
.fa-css3,
.fa-js-square,
.fa-react,
.fa-git,
.fa-github {
  font-size: 2.5rem;
  padding: 5px 0;
}


.project--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url(./images/MMDesignBackground3.png);
  width: 100vw;
}

.dark .project--section {
  /* background-color: #36474f; */
  background: url(./images/MMDesignBackgroundDark.png);
}

.project--section--cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project--card {
  width: 300px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px 0;
  border-radius: 10px;
  background-color: #c9dcef;
  padding-bottom: 10px;
  transition: all 1.2s ease-out;
}

.project--card:hover{
  transform: scale(1.1);
}

.dark .project--card {
  background-color: #212c31;
  /* color: #e3edf7; */
  color: #a0f9ff;
}

.project--card img {
  padding-top: 10px;
  width: 90%;
  object-fit: cover;
  height: 250px;
  border-radius: 50%;
}

.project--name {
  font-size: 1.4rem;
}

.project--text {
  margin: 0;
  padding: 0 20px;
}

.project--link--btn {
  background-color: #212c31;
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  color: #ffb100;
  font-size: 1.2rem;
  margin-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.7s ease-in-out;
}

.project--link--btn:hover {
  background-color: #ffb100;
  color: #212c31;
}

.dark .project--link--btn {
  /* background-color: #e3edf7; */
  background-color: #a0f9ff;
  color: #212c31;
}

.dark .project--link--btn:hover{
  background-color: #ffb100;
}

.contact--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
  background-color: #e3edf7;
  width: 100vw;
  /* background: url(./images/MMDesignBackground3.png); */
}

.dark .contact--section{
  background-color: #36474f;
}

.contact--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin-top: 20px;
}

.input--form--name--email {
  width: 100%;
}

.contact--form--name,
.contact--form--email {
  height: 25px;
  width: 45%;
  margin: 0 5px 15px 5px;
  padding: 0;
  border: 1px solid #c9dcef;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact--form--subject {
  width: 93%;
  height: 25px;
  padding: 0;
  margin-bottom: 15px;
  border: 1px solid #c9dcef;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact--form--message {
  width: 93%;
  padding: 0;
  margin-bottom: 15px;
  height: 150px;
  border: 1px solid #c9dcef;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact--form--btn {
  width: 25%;
  height: 40px;
  background-color: #212c31;
  color: #ffb100;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  transition: all 1s;
  font-family: 'Oswald', sans-serif;
}

.contact--form--btn:hover{
  background-color: #ffb100;
  color: #212c31;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
}

.dark .contact--form--btn{
  /* background-color: #e3edf7 ; */
  background-color: #a0f9ff ;
  color: #212c31;
}

.dark .contact--form--btn:hover{
  background-color: #ffb100;
}

.footer--section {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #c9dcef;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100vw;
}

.dark .footer--section{
  background-color: #212c31;
}

.footer--nav--components {
  list-style-type: none;
}

.footer--contact--components {
  padding-right: 60px;
  list-style-type: none;
}

.footer--nav--components li a,
.footer--contact--components li a {
  color: #212c31;
  text-decoration: none;
  line-height: 25px;
}
.footer--nav--components li a:hover,
.footer--contact--components li a:hover{
  background-color: #212c31;
  color: #ffb100;
}

.dark .footer--nav--components li a,
.dark .footer--contact--components li a {
  /* color: #e3edf7 ; */
  color: #a0f9ff ;
}

.dark .footer--nav--components li a:hover,
.dark .footer--contact--components li a:hover{
  background-color: #ffb100;
 color: #212c31;
}

@media (min-width: 500px) {
  a.nav--logo,
  a.nav--logo--dark{
    padding-left: 50px;
  }


  ul {
    display: flex;
    list-style-type: none;
    padding-right: 15px;
    margin: 0;
  }

  ul li {
    padding: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    color: #212c31;
  }

  ul.light,
  ul.dark{
    flex-direction: row;
    padding-right: 50px;
  }

  .nav--menu{
    margin: 0 15px;
  }

  .dark ul li {
    color: #a0f9ff;
  }

  .burger--cross {
    display: none;
  
  }

  .burger {
    display: flex;
  }

  .hero--personal{
    justify-content: left;
  }

  .hero--personal--info{
    padding-left: 150px;
  }
  .hero--personal--contact{
    padding-left: 100px;
  }
}

.icon--bar{
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 650px;
  justify-content: space-evenly;
  padding: 10px 0;
}

.icon--bar--duo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--bar .fa-html5,
.fa-css3, .fa-js-square,
.fa-react, .fa-git, .fa-github{
    font-size: 5rem;
    padding-left: 12px;
    width: 80px;
    height: 80px;
}

.skill{
  width: 95px;
  height: 95px;
  position: relative;
  margin-left: 10px;

}

.outer{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-top: 15px;
  padding-left: 15px;
}

.inner{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dark .number {
  color: #a0f9ff;
}

circle{
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  stroke-linecap: round;
}

.circle--html{
  animation: animHtml 2s linear forwards;
}

.circle--css{
  animation: animCss 2s linear forwards;
}

.circle--javascript{
  animation: animJavascript 2s linear forwards;
}

.circle--react{
  animation: animReact 2s linear forwards;
}

.circle--git{
  animation: animGit 2s linear forwards;
}

.circle--github{
  animation: animGithub 2s linear forwards;
}

.skill--image{
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes animHtml{
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animCss{
  100%{
    stroke-dashoffset: 87;
  }
}
@keyframes animJavascript{
  100%{
    stroke-dashoffset: 75;
  }
}
@keyframes animReact{
  100%{
    stroke-dashoffset: 137;
  }
}
@keyframes animGit{
  100%{
    stroke-dashoffset: 100;
  }
}
@keyframes animGithub{
  100%{
    stroke-dashoffset: 63;
  }
}


/* 
color pallete:
#212c31 - main dark
#2f3e45 - main lighter dark
#36474f - main lighter dark

ffb100 - orange

#e3edf7 - blue
#d6e5f3 - more blue
#c9dcef - more blue

a0f9ff - neon blue
*/

